[submodule "virgil-crypto-c"]
	path = ext/virgil-crypto-c
	url = https://github.com/VirgilSecurity/virgil-crypto-c
	branch = v0.11.1
[submodule "googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
	branch = release-1.10.0
[submodule "curlpp"]
	path = ext/curlpp
	url = https://github.com/jpbarrette/curlpp
	branch = v0.8.1
